<!doctype html>
<html>
  <head><meta charset="utf-8"><title>Christian NANTCHA</title></head>
  <body>
    <h1>Serveur web provisionné par Jenkins + Terraform + Ansible</h1>
    <p>IP : {{ ansible_default_ipv4.address }}</p>
    <p>Date : {{ lookup('pipe','date') }}</p>
  </body>
</html>
