- name: Configure webserver
  hosts: web
  become: true
  tasks:
    - name: Install nginx
      apt:
        name: nginx
        state: present
      when: ansible_os_family == "Debian"

    - name: Install nginx (yum)
      yum:
        name: nginx
        state: present
      when: ansible_os_family == "RedHat"

    - name: Ensure nginx running and enabled
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Deploy test page
      template:
        src: roles/webserver/templates/index.html.j2
        dest: /var/www/html/index.html
        owner: root
        group: root
        mode: '0644'
